<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Together_Culture.Properties.Settings.SQLDBConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\MitesH\source\repos\mitesh2512\Together-Culture-8.0\Together Culture\DataBae\together.db.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>